CompileFlags:
  CompilationDatabase: build/ninja-debug
---
If:
  PathMatch: ^xcode-project/Project1/Project1Extension/.*\.mm$
CompileFlags:
  Add:
    - -xobjective-c++
    - -fobjc-arc
    - -fobjc-weak
---
If:
  PathMatch: ^framework/platform/auv3/.*\.mm$
CompileFlags:
  Add:
    - -xobjective-c++
    - -fobjc-arc
    - -fobjc-weak
