BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 90
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  BeforeElse: false
ContinuationIndentWidth: 2
AlignAfterOpenBracket: Align
BinPackArguments: false
